body {
  font-family: 'TheSansB4', Helvetica, Arial, sans-serif
}

.Header {
  padding-right: 10px;
}
  
.Header > .Autosuggest {
  margin-left: auto;
}

.Autosuggest {
  position: relative;
}

.Autosuggest-flyout {
  position: absolute;
  background: white;
  border: 1px solid black;
}

.Autosuggest-item {
  border-bottom: 1px solid black;
  padding: 5px;
  cursor: pointer;
}

.Autosuggest-item:last-child {
  border-bottom: 0;
}

.Tree-collection:not(.is-closed) {
  background: #eee;
}

.Tree-collectionLabel {
  color: black;
}

.Prose {
  max-width: none;
  font-family: inherit;
}

.Prose table {
  font-size: inherit;
}